name: utils_widget
description: A Flutter utility library, including a collection of widgets and utilities.
version: 0.0.13
homepage: https://mohesu.com
github: https://github.com/rvndsngwn/utils.git

environment:
  sdk: ">=2.17.5 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_image_compress: ^1.1.3
  image_picker: ^0.8.6
  url_launcher: ^6.1.6
  logger: ^1.1.0
  universal_io: ^2.0.4
  skeleton_text: ^3.0.0
  font_awesome_flutter: ^10.2.1
  lottie: ^1.4.3
  intl: ^0.17.0
  google_fonts: ^3.0.1
  overlay_support: ^2.0.1
  loading_icon_button: ^0.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # To add assets to your package, add an assets section, like this:

  assets:
    - assets/lottie/

  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
